@model LoginUDEO.Models.bodegaProducto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>bodegaProducto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bodega.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bodega.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado1.nombreEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado1.nombreEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
